# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Turbo 
.turbo

# Vercel 
.vercel

# Build output
dist
build
out
.next

# Misc
.DS_Store
*.pem
*storybook.log
storybook-static
packages/mini-apps-ui-kit-react/public/globals.css
packages/mini-apps-ui-kit-react/bundle-analysis.html
